.card{

    &-img{
        width: 100%;
        object-fit: cover;
        border-radius: 2px;
    }

    &-release-date{
        color: var(--secondary-color);
        padding: 10px 0;
    }

    &-title{
        font-weight: 700;
        color: var(--secondary-color);
        font-size: calc(var(--font-size-base) * 1.5);
        line-height: 1.3;
    }
}