.postview {

  &__title-content {
    > div {
      display: flex;
      align-items: center;
      gap: 1rem;
      text-align: center;
    }

    span {
      color: #787070;
    }
    margin-bottom: 2rem;
  }
}
